@charset "utf-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.ttf') format('truetype'), url('cac_champagne.woff') format('woff');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.ttf') format('truetype'), url('DobkinPlain.woff') format('woff');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Emmanuel Cortes
   Date: 09/12/18  
   
   Filename: lake_styles.css

*/
/* Base */

html {
    background-color: rgb(255, 239, 213);
}

section#rightcol {
    background-color: rgb(210, 180, 140);
    padding: 5px 13px;
    text-align: right;
}

nav {
    background-color: rgb(210, 180, 140);
}

footer {
    background-color: rgb(210, 180, 140);
    text-align: center;
    padding: 15px;
}

aside {
    background-color: rgb(210, 180, 140);
    padding: 5px 15px;
    border-radius: 25px
}

header>nav {
    padding: 10px
}

section#leftcol>h1 {
    font-family: Champagne;
    font-size: 5em;
    font: normal;
    margin: 0%;
}

body>section>p {
    font-family: Arial;
    font-size: 1.005em
}
/* nav */

section#rightcol>nav>ul>li {
    list-style-type: none;
}

section>nav>h2 {
    font-family: Dobkin;
    font-size: 1.5em;
}

nav>ul>li>a:hover {
    text-decoration: none;
    color: rgb(42, 116, 165);
}

nav>ul>li>a:link,:visited {
    text-decoration: none;
    color: rgb(138, 86, 17)
}

aside a:link,:visited {
    text-decoration: none;
    color: rgb(138, 86, 17)
}



















