@charset "utf-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.ttf') format('truetype'), url('cac_champagne.woff') format('woff');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.ttf') format('truetype'), url('DobkinPlain.woff') format('woff');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Emmanuel Cortes
   Date: 09/12/18  
   
   Filename: lake_styles.css

*/

html {
    background-color: rgb(255, 239, 213);
}

section#rightcol {
    background-color: rgb(210, 180, 140);
    padding: 5px 10px;
    text-align: right;
}

nav {
    background-color: rgb(210, 180, 140)
}

footer {
    background-color: rgb(210, 180, 140);
    text-align: center;
    padding: 15px;
}

aside {
    background-color: rgb(210, 180, 140);
    padding: 5px 5px;
}

section>nav>h2 {
    font-family: Dobkin;
    font-size: 1.5em;
}